
header {
    background-color:  var(--colorHF);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    margin: 0;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  #logo-perfil {
    width: 65px;
    
  }